body{
    background-color: rgba(31, 177, 221, 0.63);
}
a{
    color: rgb(221, 19, 19);
   
    font-size: larger;
    text-decoration:none ;
    
}
a:hover{
    color: blueviolet;
    font-size: medium;
}
a:visited{
    color:rgb(185, 185, 25);
    text-decoration:none ;
    font-size: medium;

}
.crisscross{
padding-right: 20;
background-color: black;
}